obj/
SpaceMarlin.exe
SpaceMarlinD.exe
SpaceMarlin.pdb
SpaceMarlinD.pdb
SpaceMarlin.VC.opendb
SpaceMarlin.sdf
assimp_log.txt
*.ilk
*.opensdf
*.suo
*.iobj
*.ipdb
*.VC.db
*.VC.VC.opendb
*.vcxproj.user
x64/Debug/
x64/Release/